{% extends 'base.html' %}
{% block header %}
	<h1 class="headers">
		{% block title %}{% if tagname %}{{ tagname }} |&nbsp;{% endif %}Posts{% endblock %}
	</h1>
	{% if g.user %}
		<a class="action" href="{{ url_for('blog.create') }}">New</a>
	{% endif %}
{% endblock %}
{% block content %}
	{% for post in posts %}
		<article class="post">
			<header>
				<div>
					<h1 class="headers">
						<a
							class="post-title"
							href="{{ url_for('blog.post', id=post['id']) }}"
							>{{ post['title'] }}</a
						>
					</h1>
					<div class="about">
						by {{ post['username'] }} on
						{{ post['created'].strftime('%Y-%m-%d') }}
					</div>
				</div>
				{% if g.user['id'] == post['author_id'] %}
					<a
						class="action"
						href="{{ url_for('blog.update', id=post['id']) }}"
						>Edit</a
					>
				{% endif %}
			</header>
			<p class="body">{{ post['body'] | markdown | safe }}</p>
			{% if post.imagename %}
				<img
					src="{{ url_for('image.get_image', imagename=post.imagename) }}"
					class="post-image"
				/>
			{% endif %}
			<div class="reactions">
				<form
					class="reaction-form"
					action="{{ url_for('blog.reaction', reaction=0, post_id=post['id']) }}"
					method="post"
				>
					<input
						data-button-id="{{ post['id'] }}"
						class="like-button {% if g.user['id'] %}{{ 'activated-like' if reactions[post['id']] == 0 }}{% endif %}"
						type="submit"
						value="Like | {{ post['likes'] }}"
					/>
				</form>
				<form
					class="reaction-form"
					action="{{ url_for('blog.reaction', reaction=1, post_id=post['id']) }}"
					method="post"
				>
					<input
						data-button-id="{{ post['id'] }}"
						class="dislike-button {% if g.user['id'] %}{{ 'activated-dislike' if reactions[post['id']] == 1 }}{% endif %}"
						type="submit"
						value="Dislike | {{ post['dislikes'] }}"
					/>
				</form>
			</div>
			{% include 'comments/comment-form.html' %}
			{% if post.tag_names %}
				{% for tag in post.tag_names.split(',') %}
					&nbsp;<a href="/tag/{{ tag|urlencode }}/">#{{ tag }}</a>
				{% endfor %}
			{% endif %}
		</article>
		{% if not loop.last %}
			<hr />
		{% endif %}
	{% endfor %}
	{% include 'pagination/pagination.html' %}
	<script src="{{ url_for('static', filename='reactions.js') }}"></script>
	<script src="{{ url_for('static', filename='comments.js') }}"></script>
{% endblock %}
