{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Posts{% endblock %}</h1>
    {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <header>
                <div>
                    <h1><a class="post-title" href="{{ url_for('blog.post', id=post['id']) }}">{{ post['title'] }}</a></h1>
                    <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
                </div>
                {% if g.user['id'] == post['author_id'] %}
                <!-- This url_for is passing the post id to the update view, which receives it as an argument ('/<int:id>/update') -->
                <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
                {% endif %}
            </header>
            <p class="body">{{ post['body'] }}</p>
        <div class="reactions">
            <form class="reaction-form" action="{{ url_for('blog.reaction', reaction=0, post_id=post['id']) }}" method="post">
                <input id="like-button" class="{{ 'like-button' if reactions[post['id']] == 0 }}" type="submit" value="Like">
            </form>
            <form class="reaction-form" action="{{ url_for('blog.reaction', reaction=1, post_id=post['id']) }}" method="post">
                <input id="dislike-button" class="{{ 'dislike-button' if reactions[post['id']] == 1 }}" type="submit" value="Dislike">
            </form>
        </div>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    <script src="{{ url_for('static', filename='blog.js') }}"></script>
{% endblock %}